@model Inpatient
<div class="card-body">
    <h5 class="card-title">Patient Details</h5>

    <!-- Multi Columns Form -->
    <form class="row g-3" method="post">
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Adress"></label>
                <input asp-for="Adress" class="form-control">
                <span class="text-danger" asp-validation-for="Adress"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <div class="form-group">
                    <label class="form-label">Select Doctor</label>
                    <select class="form-control" name="docId">
                        @foreach (Doctor doctor in ViewBag.Doctors)
                        {

                            <option value="@doctor.Id">@doctor.FullName</option>
                        }

                    </select>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="BloodGroup"></label>
                <input asp-for="BloodGroup" class="form-control">
                <span class="text-danger" asp-validation-for="BloodGroup"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="SurgeryType"></label>
                <input asp-for="SurgeryType" class="form-control">
                <span class="text-danger" asp-validation-for="SurgeryType"></span>
            </div>
        </div>


        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="SurgeryDate"></label>
                <input asp-for="SurgeryDate" class="form-control">
                <span class="text-danger" asp-validation-for="SurgeryDate"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control">
                <span class="text-danger" asp-validation-for="BirthDate"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="DischargedDate"></label>
                <input asp-for="DischargedDate" class="form-control">
                <span class="text-danger" asp-validation-for="DischargedDate"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="mb-3">
                <div class="form-group">
                    <label class="form-label">Select Ward</label>
                    <select class="form-control" name="wardId">
                        @foreach (Ward ward in ViewBag.Wards)
                        {

                            <option value="@ward.Id">@ward.RoomNumber</option>
                        }

                    </select>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="IsFemale">Gender</label>
                <select asp-for="IsFemale" class="form-control">
                    <option value="true">Female</option>
                    <option value="false">Male</option>
                </select>
                <span class="text-danger" asp-validation-for="IsFemale"></span>
            </div>
        </div>



        <div class="text-center">

           
            <a asp-action="Index" class="btn btn-secondary text-white">Go back</a>



        </div>
    </form><!-- End Multi Columns Form -->

</div>

