@model Clerical
<div class="card-body">
    <h5 class="card-title">Add Worker</h5>

    <!-- Multi Columns Form -->
    <form class="row g-3" method="post">
        <div class="col-md-6">
            <div class="mb-3">
                    <label class="form-label" asp-for="Name"></label>
                    <input asp-for="Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
           
        </div>
        <div class="col-md-6">
             <div class="mb-3">
                    <label class="form-label" asp-for="Position"></label>
                <input asp-for="Position" class="form-control">
                <span class="text-danger" asp-validation-for="Position"></span>
                </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control">
                <span class="text-danger" asp-validation-for="StartDate"></span>
            </div>
        </div>
       
        <div class="col-6">
             <div class="mb-3">
                <label class="form-label" asp-for="Adress"></label>
                <input asp-for="Adress" class="form-control">
                <span class="text-danger" asp-validation-for="Adress"></span>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Number"></label>
                <input asp-for="Number" class="form-control">
                <span class="text-danger" asp-validation-for="Number"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Age"></label>
                <input asp-for="Age" class="form-control">
                <span class="text-danger" asp-validation-for="Age"></span>
            </div>
        </div>
        <div class="col-md-2">
           <div class="mb-3">
                <label class="form-label" asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control">
                <span class="text-danger" asp-validation-for="Salary"></span>
            </div>
        </div>
       
        <div class="text-center">
            
            <button  type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" class="btn btn-secondary text-white">Go back</a>
           

           
        </div>
    </form><!-- End Multi Columns Form -->

</div>

